@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 100px;

  @include respond(lg) {
    padding: 14px 16px;
  }

  .navGroup {
    display: flex;
    align-items: center;
    gap: 80px;

    @include respond(lg) {
      gap: $space-m;
    }

    @include respond(md) {
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: $space-l;

      @include respond(lg) {
        gap: $space-xxs;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: $space-m;

    @include respond(md) {
      margin-left: auto;
    }
  }
}
