@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 100px;
  background-color: $color-light;

  @include laptop {
    padding: 14px 16px;
  }

  .navGroup {
    display: flex;
    align-items: center;
    gap: 80px;

    @include laptop {
      gap: $space-m;
    }

    @include tablet {
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: $space-l;

      @include laptop {
        gap: $space-xxs;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: $space-m;

    @include tablet {
      justify-content: space-between
    }
  }
}
